
@{
    ViewBag.Title = "BindIntegerTest";
}

<h2>BindIntegerTest</h2>

<h3>@ViewBag.Number</h3>

<form action="/Home/BindModelTest">
    <input type="text" name="person.Name" />
    <input type="text" name="person.Age" />
    <input type="submit" value="Submit" />
</form>

